**/.vagrant
# Developers using a mac
**/.DS_Store

# env files
**/.env

# Python
**/*.ipynb_checkpoints
**/*__pycache__
env
env/**

./tests/reports


# Scanning
**/.scannerwork

# Access keys
**.pem
**.ppk
**/secrets