**/.vagrant
# Developers using a mac
**/.DS_Store

# env files
**/.env

# Python
**/*.ipynb_checkpoints
**/*__pycache__
env
env/**

# Scanning
**/.scannerwork
./tests/reports
.coverage
coverage.xml

# Access keys
**.pem
**.ppk
**/secrets