# Local code execution files
node_modules

!.github/actions/build

# Access keys & Secrets
.env
**/secrets
**.pem
**.ppk

# Developers using a mac
**/.DS_Store

# Python
**/*.ipynb_checkpoints
**/__pycache__
**/.pytest_cache
**env
/tests/data/temp/**
/tests/temp/**
/tests/reports/**
.coverage**
